@if (store.selectedSeries(); as series) {
  <h2 mat-dialog-title>{{ series.name }}</h2>
  <mat-dialog-content>
    <div class="series-details-container">
      <img [alt]="series.name" [src]="series.imageUrlAsString" class="series-image"/>
      <p><b>{{ 'series.premiered' | translate }}:</b> {{ series.premieredOn }}</p>
      <p><b>{{ 'series.runtime' | translate }}:</b> {{ series.runtimeInMinutes }} min</p>
      <p><b>{{ 'series.channel' | translate }}:</b> {{ series.channelName }}</p>
      <div [innerHTML]="series.summary"></div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'series.close' | translate }}</button>
    @if (series.hasOfficialSite) {
      <a mat-button [href]="series.officialSiteUrlAsString" target="_blank">{{ 'series.official-site' | translate }}</a>
    }
  </mat-dialog-actions>
}
