<mat-card class="series-card">
  <img mat-card-image [alt]="series().name" [src]="series().imageUrlAsString"/>
  <mat-card-header>
    <mat-card-title>{{ series().name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><b>{{ 'series.language' | translate }}:</b> {{ series().language }}</p>
    <p><b>{{ 'series.genres' | translate }}:</b> {{ series().genresAsText }}</p>
    <p><b>{{ 'series.status' | translate }}:</b> {{ series().status }}</p>
    <p><b>{{ 'series.rating' | translate }}:</b> {{ series().averageRating ?? ('series.not-rated' | translate) }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="showSeriesDetails()" [attr.aria-label]="'series.details' | translate" mat-button>
      {{ 'series.details' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
